.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.slots{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slots *{
  margin-top: 20px;
}
.button{
  background-color: wheat;
}